.results-sidebar {
    h2 {
        font-family: BalooCheetan2;
        font-size: 1.5rem;
        font-weight: 700;
    }

    h3 {
        font-family: BalooCheetan2;
        font-weight: 700;
    }

    h4 {
        font-family: BalooCheetan2;
        font-weight: 700;
    }

    strong {
        font-size: 1rem;
        font-weight: 700;
    }

    .main-result {
        font-family: BalooCheetan2;
        font-size: 1rem;

        strong {
            font-size: 2rem;
        }
    }
}